/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body
{
	font-family: "Arial Black";
	font-size: 1vw;
}

.mainDiv
{
    width: 60%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

article
{
    width:100%;
    float:left;
}

header
{
    width:100%;
    float:left;
}
div.logo
{
    box-sizing: border-box;
    widows:20%;
    float:left;
}
div.logo img
{
    
    width:15vw;
}
nav
{
    width:80%;
}
ul
{
    float: right;
}
li
{
    float:left;
}
a
{
    text-decoration: none;
    padding: 1vw;
    display:block;
    color:orangered;
    font-size: 1.2rem;
    transition: color 1s, background-color 1s;
}
a:hover
{
    background-color: orangered;
    color:white;
    transition: color 1s, background-color 1s;
}
section
{
    width:100%;
    float:left;
    margin-top:5%;
}
div.product
{
    width: 25%;
	float: left;
	padding : 1%;
	box-sizing: border-box;
}
 div.productImage 
{
    width:100%;
    float:left;
}
div.prouctImamge img
{
	width:100%;
    float:left;
}

div.description 
{
	width: 100%;
	float: left;
	height: 2vw;
	text-align: center;
	box-sizing: border-box;		
}
div.price
{
    width: 100%;
	float: left;
	height: 2vw;
	text-align: center;
	box-sizing: border-box;	
}
footer
{
	padding-top: 10%;
	width: 100%;
	float: left;
}
div.form
{
	width: 100%;
	float: left;
}
div.email
{
	width: 100%;
	float: left;
}
div.age
{
	width: 100%;
	float: left;
}
div.gender
{
	width: 100%;
	float: left;
}
div.label
{
	width: 100%;
	float: left;
	padding-bottom: 1%;
	padding-top: 1%;
}
div.label::after
{
	content: "*";
	color:red;
}
div.submit
{
	width: 100%;
	float: left;
	padding-top: 1%;
	padding-bottom: 1%;
}
@media screen and (max-width: 1440px) {
    body, html
	{
        font-size: 1.7vw;
    }
	
	div.product
	{
		width: 33.3333%;
	}
	div.label
	{
		font-size: 1.5vw;
	}
}
@media screen and (max-width: 1024px) {
	body, html
	{
		font-size: 2.2vw;
	}
	div.logo img
	{
		width: 20vw;
	}
	div.product
	{
		width: 50%;
	}
	.mainDiv
	{
		width: 90%;
	}
	div.description
	{
		font-size: 1.1rem;
		padding-bottom: 6%;
	}
	div.price
	{
		font-size: 1.1rem;
	}
	div.label
	{
		font-size: 2.2vw;
	}
}
@media onlyscreen and (max-width: 640px) {
	body, html
	{
		font-size: 4vw;
	}
	div.logo img
	{
		width: 28vw;
	}
	div.product
	{
		width: 100%;
	}
	.mainDiv
	{
		width:90%;
	}
	div.description
	{
		padding-bottom: 7%;
		font-size: 1.3rem;
	}
	div.price
	{
		padding-bottom: 7%;
		font-size: 1.3rem;
	}
		div.label
	{
		font-size: 3.5vw;
	}
}